#Hello g{
    animation: text-wave 5s ease-in 0s infinite;
}

#h {
  animation: fade-h 5s linear 0s infinite;
}
#e {
  animation: fade-e 5s linear 0s infinite;  
}
#l {
  animation: fade-l-l 5s linear 0s infinite;
}
#o {
  animation: fade-o 5s linear 0s infinite;  
}

#Hello g:nth-child(1) { 
  animation-delay: .5s 
}
#Hello g:nth-child(2) { animation-delay: 1.15s }
#Hello g:nth-child(3) { animation-delay: 1.9s }
#Hello g:nth-child(4) { animation-delay: 2.65s }
#Hello g:nth-child(5) { animation-delay: 3.4s }

  
  @keyframes text-wave {
    0% {
        transform:  translateY(0px);
        transform-box:fill-box ;
        transform-origin: bottom;
    }
    100% {
      transform: translateY(25px);
      transform-box:fill-box ;
      transform-origin: bottom;
    }
  }

@keyframes fade-h{
  0%{
    opacity: 1;
  }
  5%{
    opacity: 1;
  }

  10%{opacity: 0;}
  15%{opacity: 1;}
  100%{opacity: 1;}
}
@keyframes fade-e{
  0%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  25%{opacity: 0;}
  30%{opacity: 1;}
  100%{opacity: 1;}
}

@keyframes fade-l-l{
  0%{
    opacity: 1;
  }
  35%{opacity: 1;}
  40%{opacity: 0;}
  45%{opacity: 1;}
  50%{opacity: 1;}
  55%{opacity: 0;}
  60%{opacity: 1;}
  100%{opacity: 1;}
}

@keyframes fade-o{
  0%{
    opacity: 1;
  }
  65%{
    opacity: 1;
  }
  70%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 1;}
}