/* =========================
   Type
   ========================= */
#hello-keyboard_svg__h {
  animation: fade-key-letter 5s linear infinite;
}

#hello-keyboard_svg__e {
  animation: fade-key-letter 5s linear infinite;
  animation-delay: 0.65s;
}

#hello-keyboard_svg__l {
  animation: fade-key-letter-l 5s linear infinite;
  animation-delay: 1.4s;
}

#hello-keyboard_svg__o {
  animation: fade-key-letter 5s linear infinite;
  animation-delay: 2.9s;
} 

/* =========================
   Sun Fade in out
   ========================= */
#hello-keyboard_svg__sun-large{  animation: fade 5s ease-in-out 0s infinite;}

/* =========================
   WAVE (bounce the letters)
   ========================= */
@media (prefers-reduced-motion: reduce) {
#hello-keyboard_svg__hello-H {
  animation: text-wave-fade 5s linear infinite;
  animation-delay: 0.5s;
}

#hello-keyboard_svg__hello-E {
  animation: text-wave-fade 5s linear infinite;
  animation-delay: 1.15s;
}

#hello-keyboard_svg__hello-L-1 {
   animation: text-wave-fade 5s linear infinite;
   animation-delay: 1.9s;
}

#hello-keyboard_svg__hello-L-2{
   animation: text-wave-fade 5s linear infinite;
   animation-delay: 2.65s;
}

#hello-keyboard_svg__hello-O {
   animation: text-wave-fade 5s linear infinite;
   animation-delay: 3.4s;
}

}

#hello-keyboard_svg__hello-H {
  animation: text-wave-scale 5s linear infinite;
  animation-delay: 0.5s;
}

#hello-keyboard_svg__hello-E {
  animation: text-wave-scale 5s linear infinite;
  animation-delay: 1.15s;
}

#hello-keyboard_svg__hello-L-1 {
   animation: text-wave-scale 5s linear infinite;
   animation-delay: 1.9s;
}

#hello-keyboard_svg__hello-L-2{
   animation: text-wave-scale 5s linear infinite;
   animation-delay: 2.65s;
}

#hello-keyboard_svg__hello-O {
   animation: text-wave-scale 5s linear infinite;
   animation-delay: 3.4s;
}

@keyframes fade{
0% { opacity: .25;
}
25% { opacity: 0.5;
}
75% { opacity: 1;
}
100% { opacity: .25;
}
}

@keyframes text-wave-scale {
  0% {
    /* transform: translateY(0px); */
    transform: scale(1.25);
    transform-box: fill-box;
    transform-origin: center;
  }

  100% {
    /* transform: translateY(60px); */
    transform: scale(0.9);
    transform-box: fill-box;
    transform-origin: center;
  }
}

@keyframes text-wave-fade {
  0% {
     opacity: 1;
  }

  100% {
   opacity: 0.3;
  }
}

@keyframes fade-key-letter {
  0% {
     opacity: 1;
  }

  5% {
     opacity: 1;
  }

  10% {
     opacity: 0;
  }

  15% {
      opacity: 1;
  }

  100% {
      opacity: 1;
  }
}

@keyframes fade-key-letter-l {
  0% {
     opacity: 1;
  }

  5% {
     opacity: 1;
  }

  10% {
     opacity: 0;
  }

  15% {
      opacity: 1;
  }
 20% {
      opacity: 1;
  }
  25%{
       opacity: 0;
  }
  30% {
      opacity: 1;
  }

  100% {
      opacity: 1;
  }
}
